<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Burger">
  <meta name="author" content="Juan Uribe">
  <title>Burger</title>

  <!-- Bootstrap core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/public/assets/css/styles.css" type="text/css" />

</head>

<body>
  <div>

    {{{ body }}}

  </div>
  <hr>
  <!-- /container -->
  <footer class=" center footer">
    <div class="container">
      <p> Ya'll Come Back Now</p>
    </div>
  </footer>
</body>

</html>